#map {
    width: 100%;
    height: 550px;
  }

body {
  padding-top: 65px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.logo-vedacit{
  height: 40px;
  padding-top: 13px;
  padding-right: 20px;
}

#btn-cli-vedacit{
   background-color: #F76054;
   margin: 15px;
   width: 100%;
}

#btn-cli-novos{
  background-color: #54e0ec;
  margin: 15px;
  margin-right: 15px;
  width: 95%;
}

#myProgress {
  width: 100%;
  height: 10px;
  background-color: grey;
}
#myBar {
  width: 1%;
  height: 10px;
  background-color: green;
}